@font-face {
    font-family: Beleren2016;
    src: url('file:src/main/resources/fonts/Beleren2016-Bold.ttf');
}

#cardSelectedParameters {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
#cardSelectedParameters .content {
    -fx-background-color: transparent;
}

#cardSelectedParameters:focused .content{
-fx-background-color: transparent;
}

#cardSelectedParameters:focused {
 -fx-highlight-fill: #7ecfff;
}

#cardname .text {
    -fx-font-family: "Beleren2016";
    -fx-font-size: 32px;
}