@font-face {
    font-family: Beleren2016;
    src: url('file:src/main/resources/code/proximityui/Beleren2016-Bold.ttf');
}

#cardSelectedParamsText {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-family: monospace
    }
#cardSelectedParamsText .content {
    -fx-background-color: transparent;
}

#cardSelectedParamsText:focused .content{
-fx-background-color: transparent;
}

#cardSelectedParamsText:focused {
 -fx-highlight-fill: #7ecfff;
}
#globalParamsText {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-family: monospace
}
#globalParamsText .content {
    -fx-background-color: transparent;
}

#globalParamsText:focused .content{
-fx-background-color: transparent;
}

#globalParamsText:focused {
 -fx-highlight-fill: #7ecfff;
}

#cardname .text {
    -fx-font-family: "Beleren2016";
    -fx-font-size: 32px;
}